<html>
    <head>

        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>home</title>
        {% endif %}

    </head>
    <body>
        <a href="https://deployuud.pythonanywhere.com/grocery">All</a><br>
        <a href="https://deployuud.pythonanywhere.com/fruit">fruit</a><br>
        <a href="https://deployuud.pythonanywhere.com/dairy">dairy</a><br>
        <a href="https://deployuud.pythonanywhere.com/vegetable">vegetable</a><br>
        <a href="https://deployuud.pythonanywhere.com/bakery">bakery</a><br>
        <a href="https://deployuud.pythonanywhere.com/meat">meat</a><br>
        <ul>
            {% for item in context %}
                <li>{{ item.name }} - {{ item.price }}$</li>
            {% endfor %}
        </ul>

    </body>
</html>