<html>
    <head>

        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>home</title>
        {% endif %}

    </head>
    <body>
        <h1>Jumaqulov Rustambek</h1>
        <a href="https://deployuud.pythonanywhere.com/grocery">All</a><br>
        <a href="https://deployuud.pythonanywhere.com/grocery/type//fruit">fruit</a><br>
        <a href="https://deployuud.pythonanywhere.com/grocery/type//dairy">dairy</a><br>
        <a href="https://deployuud.pythonanywhere.com/grocery/type//vegetable">vegetable</a><br>
        <a href="https://deployuud.pythonanywhere.com/grocery/type//bakery">bakery</a><br>
        <a href="https://deployuud.pythonanywhere.com/grocery/type//meat">meat</a><br>

    </body>
</html>
