<html>
    <head>

        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>home</title>
        {% endif %}

    </head>
    <body>
        <h1>Jumaqulov Rustambek</h1>
        <a href="http://127.0.0.1:5000/grocery">All</a><br>
        <a href="http://127.0.0.1:5000/fruit">fruit</a><br>
        <a href="http://127.0.0.1:5000/dairy">dairy</a><br>
        <a href="http://127.0.0.1:5000/vegetable">vegetable</a><br>
        <a href="http://127.0.0.1:5000/bakery">bakery</a><br>
        <a href="http://127.0.0.1:5000/meat">meat</a><br>

    </body>
</html>
